@page "/apontamento"

@using MeuPonto_Blazor.Data
@using MeuPonto;
@inject ApontamentoService ApontamentoService

<h1>Apontamento</h1>

<p>Marque abaixo o apontamento de horas conforme periodo selecionado.</p>

@if (apontamentos == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <select class="form-control">
        <option>Outubro/2020</option>
        <option>Novembro/2020</option>
        <option>Dezembro/2020</option>
    </select>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Marcacoes</th>
            <th>Status</th>
            <th>Observacoes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var apontamento in apontamentos)
                    {
        <tr>
            <td>@apontamento.Date</td>
            <td>@apontamento.Marcacao</td>
            <td>@apontamento.Jornada</td>
            <td>@apontamento.Observacao</td>
        </tr>
                    }
    </tbody>
</table>
}

@code {
        private PontoExibicao[] apontamentos;

protected override async Task OnInitializedAsync()
{
        apontamentos = await ApontamentoService.GetApontamentos();
}
}
