@page "/relatorio"
@using MeuPonto;
@inject IJSRuntime js

<h1>Relatório</h1>
<p>Selecione o periodo e o codigo do funcionario para que o relatorio seja gerado.</p>

<label>Periodo</label>
<select class="form-control">
    <option>Outubro/2020</option>
    <option>Novembro/2020</option>
    <option>Dezembro/2020</option>
</select>

<select class="form-control selectpicker" @bind="selectedPeriodo">
    <option>Nenhum</option>
    @foreach (var item in mock.Periodos)
    {
        <option value="@item.Descricao">@item.Descricao</option>
    }
</select>

<label>Codigo do funcionario</label>
<input type="email" class="form-control" placeholder="XXXX" />
<br />
<button type="button" class="btn btn-primary" @onclick="@(p => ClickCreateFile("relatorio.pdf"))">Gerar PDF</button>


@code
{ 
    Empresa mock = new Empresa();
    Periodo selectedPeriodo = new Empresa().Periodos[0];

    private void ClickCreateFile(string filename)
    {
        var pdf = new Blazor_PDF.PDF.Report();
        pdf.Generate(js, filename, mock.Funcionarios[0], mock.Periodos[0]);
    }
 }