@page "/relatorio"
@using MeuPonto_Blazor;
@using MeuPonto_Blazor.Data;

@inject IJSRuntime js
@inject MainService MainService
<h1>Relatório</h1>
<p>Selecione o periodo e o codigo do funcionario para que o relatorio seja gerado.</p>

<label>Periodo</label>

<select class="form-control" @bind="MainService.SelectedPeriodo.Referencia">
    <option>Selecione um valor</option>
    @foreach (var item in MainService.GetEmpresa().Periodos)
    {
        <option value="@item.Referencia">@item.Descricao</option>
    }
</select>

<label>Codigo do funcionario</label>
<input type="text" class="form-control" name="nome" @bind-value="@funcionarioCodigo" @bind-value:event="oninput" placeholder="XXXX" />
<br />
<button type="button" class="btn btn-primary" @onclick="@(p => GeneratePDF())">Gerar PDF</button>


@code
{
    int funcionarioCodigo;

    private void GeneratePDF()
    {
        var pdf = new Blazor_PDF.PDF.Report();

        List<Funcionario> listaFuncionariosByCodigo = MainService.GetEmpresa().Funcionarios.Where(f => funcionarioCodigo == (f.Codigo)).ToList();

        if (listaFuncionariosByCodigo.Count > 0)
        {
            Funcionario selectedFuncionario = listaFuncionariosByCodigo[0];
            pdf.Generate(js, "Relatorio_" +
                MainService.SelectedPeriodo.Descricao +
                "_FUNC" +
                selectedFuncionario.Codigo +
                ".pdf", listaFuncionariosByCodigo.First(), MainService.SelectedPeriodo);
        }
    }
}