@page "/relatorio"
@inject IJSRuntime js

<h1>Relatório</h1>
<p>Selecione o periodo e o codigo do funcionario para que o relatorio seja gerado.</p>

<label>Periodo</label>
<select class="form-control">
    <option>Outubro/2020</option>
    <option>Novembro/2020</option>
    <option>Dezembro/2020</option>
</select>
<label>Codigo do funcionario</label>
<input type="email" class="form-control" placeholder="XXXX" />
<br />
<button type="button" class="btn btn-primary" @onclick="@(p => ClickCreateFile(1, "relatorio.pdf"))">Gerar PDF</button>


@code
{ private void ClickCreateFile(int pagetype, string filename)
    {
        var pdf = new Blazor_PDF.PDF.Report();
        pdf.Generate(js, pagetype, filename);
    }
 }